**Challenge** : Download carbon nanotubes data from UIC database and clean it up as required and finally insert that <br>cleaned data into SQL database

Steps to perform this task:
1. Load the csv file downloaded and examine
2. Clean up the file as required and save it as a new file separately
3. Connect with SQL database
4. Create one new database to insert the data
5. Create one new table inside the newly created database
6. Load the cleaned csv file and extract column names which can be used for creation of table columns inside DB
7. Insert the data inside sql database
8. Finally, fetch the inserted data using pandas and confirm it

In [3]:
import csv # library to read the csv file

In [69]:
# load the csv file 
with open('carbon_nanotubes.csv','r')as file:
    data = file.readlines(1000) # reading the file line by line
    print(data)

["Chiral indice n;Chiral indice m;Initial atomic coordinate u;Initial atomic coordinate v;Initial atomic coordinate w;Calculated atomic coordinates u';Calculated atomic coordinates v';Calculated atomic coordinates w'\n", '2;1;0,679005;0,701318;0,017033;0,721039;0,730232;0,017014\n', '2;1;0,717298;0,642129;0,231319;0,738414;0,65675;0,232369\n', '2;1;0,489336;0,303751;0,088462;0,477676;0,263221;0,088712\n', '2;1;0,413957;0,632996;0,040843;0,408823;0,657897;0,039796\n', '2;1;0,334292;0,543401;0,15989;0,303349;0,558807;0,157373\n', '2;1;0,510664;0,696249;0,255128;0,496977;0,725608;0,25597\n', '2;1;0,413957;0,632996;0,374176;0,390878;0,657645;0,374735\n', '2;1;0,712552;0,55479;0,112271;0,750056;0,561494;0,114944\n', '2;1;0,320995;0,298682;0,1837;0,281301;0,261433;0,182779\n', '2;1;0,394742;0,279367;0,302747;0,35086;0,2335;0,302196\n', '2;1;0,282702;0,357871;0,397985;0,229138;0,328729;0,398581\n', '2;1;0,320995;0,298682;0,517033;0,278752;0,269615;0,51733\n', '2;1;0,605258;0,720633;0,469414;0,613415;0,760009;0,469452\n', '2;1;0,510664;0,696249;0,588462;0,521991;0,736991;0,588946\n']

In [14]:
# pulling out column names by reading the file in a new format
row_data = []

with open('carbon_nanotubes.csv','r') as file:
    data_new = csv.reader(file,delimiter =';')
    for row in data_new:
        row_data.append(row)
        
print("The list of column names in the data are:",row_data[0])
print("Total number of columns in the data are:{}".format(len(row_data[0])))

The list of column names in the data are: ['Chiral indice n', 'Chiral indice m', 'Initial atomic coordinate u', 'Initial atomic coordinate v', 'Initial atomic coordinate w', "Calculated atomic coordinates u'", "Calculated atomic coordinates v'", "Calculated atomic coordinates w'"]
Total number of columns in the data are:8

In [56]:
# saving the formatted data as as new csv file
with open('carbon_formatted.csv','w+',newline='') as new:
    datawriter = csv.writer(new)
    datawriter.writerows(row_data)

**VERIFYING THE NEW FORMATTED DATA**

In [71]:
# verifying the new file
with open('carbon_formatted.csv','r') as new:
    data = new.readlines(1000)
    print(data)

["Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',Calculated atomic coordinates w'\n", '2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,017014"\n', '2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"\n', '2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,088712"\n', '2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,039796"\n', '2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"\n', '2,1,"0,510664","0,696249","0,255128","0,496977","0,725608","0,25597"\n', '2,1,"0,413957","0,632996","0,374176","0,390878","0,657645","0,374735"\n', '2,1,"0,712552","0,55479","0,112271","0,750056","0,561494","0,114944"\n', '2,1,"0,320995","0,298682","0,1837","0,281301","0,261433","0,182779"\n', '2,1,"0,394742","0,279367","0,302747","0,35086","0,2335","0,302196"\n', '2,1,"0,282702","0,357871","0,397985","0,229138","0,328729","0,398581"\n', '2,1,"0,320995","0,298682","0,517033","0,278752","0,269615","0,51733"\n']

**SQL STARTUP**

In [18]:
# sql connection
import mysql.connector as connection

**DATA BASE CREATION**

In [20]:
# creation of new database
try:
    mydb = connection.connect(host = "localhost", user ="root", passwd ="Password2!",use_pure = True)
    print("Database connection is successful")
    
    query = "CREATE DATABASE CarbonNanoTube"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Database is created")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

Database connection is successful
Database is created

**TABLE CREATION**

In [72]:
try:
    mydb = connection.connect(host = "localhost",database = "CarbonNanoTube",user ="root",passwd = "Password2!",use_pure = True)
    print("Database connection is successful")
    
    query = "create table CarbonNanoTube.carbonNano (Chiral_indice_n VARCHAR(15),Chiral_indice_m VARCHAR(15),Initial_atomic_coordinate_u VARCHAR(15),Initial_atomic_coordinate_v VARCHAR(15),Initial_atomic_coordinate_w VARCHAR(15),\
                    Calculated_atomic_coordinates_u VARCHAR(15),Calculated_atomic_coordinates_v VARCHAR(15),Calculated_atomic_coordinates_w VARCHAR(15))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table created")
    
except Exception as e:
    mydb.close()
    print(str(e))

Database connection is successful
Table created

**INSERT DATA INTO TABLE**

In [73]:
with open('carbon_formatted.csv','r') as data:
    next(data)
    data_reader = csv.reader(data,delimiter = '\n')
    for i in enumerate(data_reader):
        #print(i)
        for j in i[1]:
            cursor.execute("Insert into CarbonNanoTube.carbonNano values ({data})".format(data = j))
    print("Complete Data insertion is successfull")
mydb.commit()

Complete Data insertion is successfull

**VERIFICATION OF DATA BY FETCHING IT USING PANDAS LIBRARY**

In [60]:
import pandas as pd

In [74]:
pd.read_sql("select * from CarbonNanoTube.carbonNano",mydb)

,Chiral_indice_n,Chiral_indice_m,Initial_atomic_coordinate_u,Initial_atomic_coordinate_v,Initial_atomic_coordinate_w,Calculated_atomic_coordinates_u,Calculated_atomic_coordinates_v,Calculated_atomic_coordinates_w
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,017014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"
2,2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,088712"
3,2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,039796"
4,2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"
...,...,...,...,...,...,...,...,...
10716,12,6,"0,834201","0,399891","0,89127","0,841858","0,405882","0,891356"
10717,12,6,"0,698374","0,24471","0,962699","0,706555","0,248416","0,962833"
10718,12,6,"0,923823","0,568913","0,819842","0,929403","0,576284","0,819879"
10719,12,6,"0,934978","0,602319","0,938889","0,941844","0,610608","0,938755"
10720,12,6,"0,953664","0,698374","0,962699","0,961243","0,707812","0,962605"